@charset "UTF-8";
.bg-color-note {
  background-color: #fcdfdb;
}

.bg-color-chic {
  background-color: #fff5fe;
}

.bg-color-delice {
  background-color: #f9f9f9;
}

.bg-color-palette {
  background-color: #fdfffd;
}

.bg-color-primary {
  background-color: #579c87;
}

.bg-color-white {
  background-color: #fff;
}

.text-gradient-musique {
  background-image: linear-gradient(to bottom right, #f15861 40%, #f78f6a 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-note {
  background-image: linear-gradient(to bottom right, #f15861 40%, #f78f6a 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-chic {
  background-image: linear-gradient(to bottom right, #c77412 30%, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-delice {
  background-image: linear-gradient(to bottom right, #055194, #0887f6 50%, #00d4ff 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-palette {
  background-image: linear-gradient(to bottom right, #3c6f2a 20%, #72bf56 70%, #61f72a 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body {
  position: relative;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), url("../fonts/dancing-script-v14-latin-regular.woff") format("woff"), url("../fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url("../fonts/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
/* devonshire-regular - latin */
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* segoe print */
@font-face {
  font-family: "segoe print";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoepr.ttf") format("truetype"), url("../fonts/segoepr.woff") format("woff");
}
/* Croissant-one regular */
@font-face {
  font-family: "croissant_one";
  src: url("../fonts/croissantone-regular-webfont.woff2") format("woff2"), url("../fonts/CroissantOne-Regular.ttf") format("truetype"), url("../fonts/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* All pages */
h1, h2, h3, h4, p {
  text-align: center;
}

h4, li, p {
  font-family: "segoe print", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #353535;
}

h3, p {
  font-size: 3em;
}

a {
  text-decoration: none;
}

li {
  font-size: 0.9em;
  opacity: 0.8;
  list-style-type: none;
}

.prix {
  font-size: 1em;
  opacity: 1;
}

h4 {
  font-size: 1em;
  opacity: 0.7;
  margin: 0 0.5rem;
  padding: 2rem 0;
}
h4::after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 3px;
  border-bottom: 2px solid currentColor;
  opacity: 0.7;
  transition: width 1s ease;
}
h4:hover::after {
  width: 100%;
}

/* Page Note */
.menu--note {
  color: #3c1218;
}
.menu--note h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "devonshire", Tahoma, Geneva, Verdana, sans-serif;
}
.menu--note p {
  font-family: "segoe print", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.menu--note .titre {
  margin-top: 0;
}
.menu--note .fas {
  font-size: 4em;
  padding: 0 1rem;
}
.menu--note h4 {
  font-size: 1.2em;
  opacity: 1;
}
@media (min-width: 599px) {
  .menu--note h4 {
    padding-top: 50px;
  }
}

/*page chic*/
.menu--chic h3 {
  font-family: "croissant_one", Tahoma, Geneva, Verdana, sans-serif;
  filter: brightness(130%);
  font-size: 35px;
}
.menu--chic p {
  font-family: "montserrat bold", Tahoma, Geneva, Verdana, sans-serif;
  color: #c77412;
}
.menu--chic h4, .menu--chic li {
  font-family: "montserrat", Tahoma, Geneva, Verdana, sans-serif;
}
.menu--chic .entrées {
  color: #c77412;
}
.menu--chic .suites {
  color: #a56799;
}
.menu--chic .desserts {
  color: #6e4ccc;
}

/*page delice*/
.menu--delice h3 {
  font-family: "dancing script", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 6px;
}
.menu--delice p {
  color: #0887f6;
}

/*page palette*/
.menu--palette h3 {
  font-family: "kaushan script", Tahoma, Geneva, Verdana, sans-serif;
  filter: brightness(110%);
  padding-right: 10px;
}
.menu--palette p {
  color: #72bf56;
}

/*HEADER*/
.banner {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1, .banner .banner-title {
  margin: 0;
}
.banner h1 a, .banner .banner-title a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 a img, .banner .banner-title a img {
  width: 300px;
  margin: auto;
}
@media (min-width: 599px) {
  .banner h1 a img, .banner .banner-title a img {
    width: 400px;
  }
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
footer a {
  display: flex;
  align-items: center;
  color: #fdcb46;
  font-size: 1.2em;
  padding: 1rem;
}
@media (min-width: 767px) {
  footer a {
    font-size: 1.6em;
  }
}
footer a:hover {
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0%, 100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translateX(5px);
  }
  66% {
    transform: translateX(-5px);
  }
}

/*PROCHAINEMENT*/
.container {
  height: 20vh;
  margin-top: 30px;
  margin-bottom: 10vh;
}
.container .btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 80px;
  border-radius: 1rem;
  color: #fdcb46;
  font-size: 1.9em;
}

.dots {
  margin-left: 15px;
}
.dots span {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #fdcb46;
  display: inline-block;
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dots {
  50% {
    opacity: 0;
  }
}
.accueil {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.top, .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 767px) {
  .top, .bottom {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
}

.accueil-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  height: 650px;
}
@media (min-width: 767px) {
  .accueil-menu {
    width: 50%;
    height: 650px;
  }
}
@media (min-width: 840px) {
  .accueil-menu {
    width: 50vh;
  }
}
.accueil-menu a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.accueil-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  opacity: 1;
  transition: transform 800ms, opacity 600ms;
}
.accueil-menu .menu:hover {
  transform: scale(1);
  opacity: 0.7;
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.menu-page {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 75%;
  margin: 1rem auto 8rem auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 1rem 1rem;
}
@media (min-width: 599px) {
  .menu-page {
    width: 700px;
  }
}
.menu-page__heading {
  padding-bottom: 1rem;
}
.menu-page ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}
@media (min-width: 599px) {
  .menu-page ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }
}
.menu-page li {
  padding: 1rem;
}
@media (min-width: 599px) {
  .menu-page li {
    padding: 0 2rem;
  }
}
.menu-page .prix {
  margin-top: 10px;
}
@media (min-width: 599px) {
  .menu-page .prix {
    margin-top: 0;
  }
}
.menu-page .plats {
  padding-bottom: 1rem;
}
.menu-page .desserts ul {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}
.menu-page .desserts ul li {
  padding-bottom: 1rem;
}

.separateurs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separateurs img {
  max-width: 32%;
  padding-left: 5px;
  padding-right: 5px;
}

/* page note */
.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.note .fas, .note .fa {
  padding-left: 1rem;
  font-size: 4em;
}

.footer-note {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer-note .fas {
  font-size: 2em;
  padding-right: 15px;
  padding-top: 20px;
}
.footer-note h3 {
  padding-top: 15px;
  font-size: 2.3em;
}

/* PAGE DÉLICE */
.image-delice {
  filter: brightness(165%);
}

.image-delice-2 {
  filter: brightness(265%);
}

@media (min-width: 840px) {
  a .menu--palette {
    padding: 0 2rem;
  }
}

/*MENTIONS LÉGALES */
.mentions {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 400px;
  margin: 0 auto 200px auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 2rem 2rem;
  margin-top: 2rem;
  text-align: left;
}
.mentions h3 {
  font-size: 1.5em;
  padding-bottom: 1rem;
}
.mentions p {
  font-family: "montserrat", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  text-align: left;
  margin: 10px 0;
}
@media (min-width: 599px) {
  .mentions {
    width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
