$color-primary: #579c87;
$color-secondary: #fdcb46;
$color-white: #fff;
$menu_note: #fcdfdb;
$menu_chic: #fff5fe;
$menu_delice: #f9f9f9;
$menu_palette: #fdfffd;
$color-delice: #0887f6;
$color-note: #3c1218;
$color-chic: #c77412;
$color-palette: #72bf56;