/*MAIN*/
.accueil { 
    display: flex;   
    flex-direction: column;
    padding: 3rem 0;    
    
    // Menu cliquable
    a {   
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;   
    width: 43vh;
    height: 63vh;  
    @include respond-to(small) {
        width: 55vh;
        height: 75vh;
    }
    @include respond-to(medium) {
        width: 43vh;
        height: 63vh;
    }
    @include respond-to(large) {
        width: 48vh;
        height: 68vh;
    }
    }   
    
}
.top, .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    padding: 1rem;
    @include respond-to(medium){
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
}
.accueil-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    @include respond-to(medium) {
        padding: 0 rem;
    }
}
 .menu {    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;  
     transform: scale(0.9);
     opacity: 0.85;
     transition: transform 800ms opacity 600ms;
     &:hover {
         transform: scale(1);
         opacity: 1;
     }     
 }
 