
.accueil { 
    display: flex;   
    flex-direction: column;
    padding: 3rem 0; 
}
.top, .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    padding: 1rem;
    @include respond-to(medium){
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
}
.accueil-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
    height: 650px;   
    
    @include respond-to(medium) {
        width: 50%; 
        height: 650px;       
    }
    @include respond-to(large) {
        width: 50vh;
    }
    // Menu cliquable
    a {   
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-content: center;      
        }   
    .menu {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        transform: scale(0.9);
        opacity: 1;
        transition: transform 800ms, opacity 600ms;
        &:hover {
            transform: scale(1);
            opacity: 0.7;
        } 
    
    }
}
 
 