


/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kaushan-script-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
  }

/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/dancing-script-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dancing-script-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dancing-script-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dancing-script-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dancing-script-v14-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
  }

  /* devonshire-regular - latin */
@font-face {
    font-family: 'Devonshire';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/devonshire-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Devonshire-Regular'),
         url('../fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/devonshire-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/devonshire-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/devonshire-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* segoe print */
  @font-face {
    font-family: 'segoe print';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/segoepr.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/segoepr.woff') format('woff'), /* Modern Browsers */
  }
/* Croissant-one egular */ 
@font-face {
    font-family: 'croissant_one';
    src: url('../fonts/croissantone-regular-webfont.woff2') format('woff2'),
    url('../fonts/CroissantOne-Regular.ttf') format('truetype'),
         url('../fonts/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* All pages */

h1 {
    font-weight: 700;
    color: #353535;
}
a {
    text-decoration: none;
}
p {
    margin-top: -25px;;
}
.menu-page {
    @media (min-width: 767px) {
        padding: 1rem;
    }
}
h4 {

   padding-bottom: 3px;
    &:hover {
        border-bottom: 2px solid currentColor;
        
    }
        
    }

/* Accueil */

/* Page Note */

.menu--note {
    color: $color-note;
    background: $menu-note;
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'devonshire', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.3em;
        
    }
    .titre {
        text-transform: initial;       
        font-family: 'devonshire', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3em;
        margin-top: 0;
    }
    h4 {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
    }
    li {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
    }
    p {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        color: $color-note;
        font-size: 3em;
        text-align: center;
        text-transform: uppercase;
    }
    
   
}
/*page chic*/

  .menu--chic {
    background: $menu-chic;
    h2 {
        font-family: 'croissant_one',Tahoma, Geneva, Verdana, sans-serif;      
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to bottom right, $color-chic 30%, #6e4ccc);        
        -webkit-background-clip: text;
        background-color: $color-chic;       
        font-size: 2.7em;
        text-align: center;
        padding-top: 30px;       
        filter: brightness(130%);
    }
    .titre {
        font-family: 'croissant_one',Tahoma, Geneva, Verdana, sans-serif;      
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to bottom right, $color-chic 30%, #6e4ccc);        
        -webkit-background-clip: text; 
        background-color: $color-chic;       
        font-size: 3em;
        text-align: center;
        padding-top: 30px;        
        filter: brightness(130%);
        @media (min-width: 1200px) {
            font-size: 2.5em;
        }
    }
    p {
        font-family: 'montserrat bold',Tahoma, Geneva, Verdana, sans-serif;
        color: $color-chic;
        font-size: 3em;
        text-align: center;
    }
    h4 {
        position: relative;
        font-family: 'montserrat',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        margin: 0 1rem;
        
    }
    li {
        font-family: 'montserrat',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
    }
    .entrées {
        color: $color-chic;
    }
    .suites {
        color: #a56799;
    }
    .desserts {
        color: #6e4ccc;
    }
  }
  
  /*page delice*/
  .menu--delice {
    background: $menu-delice;
    .titre {
        font-family: 'dancing script',Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left top, #055194, $color-delice 50%, #00d4ff 95% );        
        -webkit-background-clip: text; 
        font-size: 3em; 
        text-align: center; 
        padding-top: 30px; 
           
    }
    p {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        color: $color-delice;
        font-size: 3em;
        text-align: center;
    }
    h2 {
        font-family: 'dancing script',Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left top, #055194,$color-delice 50%, #00d4ff 95% );        
        -webkit-background-clip: text;        
        font-size: 3.5em;
        text-align: center;
        padding-top: 30px;
    }
    h4 {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
    }
    li {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
    }
    
  }
/*page palette*/
  .menu--palette {
      background: $menu-palette;
      
      .titre {
        font-family: 'kaushan script',Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left top,#3c6f2a, $color-palette 50%, #61f72a 95% );        
        -webkit-background-clip: text;        
        font-size: 3em; 
        filter: brightness(110%);
      padding-top: 20px;;
       
        @media (min-width: 1200px) {
            font-size: 2.8em;
        } 
    }
    h2 {
        font-family: 'kaushan script',Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left top,#3c6f2a, $color-palette 50%, #61f72a 95% );        
        -webkit-background-clip: text;        
        font-size: 3.5em;
        text-align: center;
        padding-top: 30px;
        filter: brightness(110%);
        @media (max-width: 767px) {
            font-size: 3em;
        }
    }
    li {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
    }
    h4 {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    p {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
        color: $color-palette;
        font-size: 3em;
        text-align: center;
    }
  }