/* All pages */
h1, h2, h3, h4, p {
    text-align: center;
}
h4, li, p {
    font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;
}
h2 {    
    font-size: 2em;
    color: #353535;
}
h3 {
    font-size: 3em;
    padding-top: 30px;  
     
}
a {
    text-decoration: none;
}

li {
    font-size: 0.9em;
    opacity: 0.8; 
    list-style-type: none;   
}
.prix {
    font-size: 1em;
    opacity: 1;
}
p {
    font-size: 3em;
    margin-top: -25px;
}
.menu-page {
    @media (min-width: 767px) {
        padding: 1rem;
    }
    h3 {
        @include respond-to(medium) {
            font-size: 2.5em;
        } 
    }
}
h4 {
    font-size: 1em;
    opacity: 0.7;
    margin: 0 0.5rem;
    padding: 2rem 0;
    
    
   &::after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 3px;
    border-bottom: 2px solid currentColor;
    opacity: 0.7;
    transition: width 1s ease;
    }
    &:hover::after {
    width: 100%;
    }
}      
    
/* Page Note */

.menu--note {
    color: $color-note;
    
    h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'devonshire', Tahoma, Geneva, Verdana, sans-serif;              
    }
    
    p {
        font-family: 'segoe print',Tahoma, Geneva, Verdana, sans-serif;        
        text-transform: uppercase;
    }
    .titre {
        text-transform: initial;       
        font-family: 'devonshire', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3em;
        margin-top: 0;
    }
    .fas {
        color: #f15861;
        background: linear-gradient( to bottom right,#f15861 40%, #f78f6a 80%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4em;
    }
    h4 {    
        font-size: 1.2em;
        opacity: 1;        
        @include respond-to(small) {
            padding-top: 50px;
        }
    }
   
}
/*page chic*/

  .menu--chic {    
    h3 {
        font-family: 'croissant_one',Tahoma, Geneva, Verdana, sans-serif;          
        filter: brightness(130%);
        font-size: 35px;
    }    
    p {
        font-family: 'montserrat bold',Tahoma, Geneva, Verdana, sans-serif;
        color: $color-chic;      
    }
    h4 {        
        font-family: 'montserrat',Tahoma, Geneva, Verdana, sans-serif;        
             
    }
    li {
        font-family: 'montserrat',Tahoma, Geneva, Verdana, sans-serif;       
    }
    .entrées {
        color: $color-chic;
    }
    .suites {
        color: #a56799;
    }
    .desserts {
        color: #6e4ccc;
    }
  }
  
  /*page delice*/
  .menu--delice {    
    h3 {
        font-family: 'dancing script',Tahoma, Geneva, Verdana, sans-serif;         
        padding-left: 10px;
    }    
    p {       
        color: $color-delice;           
    }    
  }
/*page palette*/
  .menu--palette {         
    h3 {
        font-family: 'kaushan script',Tahoma, Geneva, Verdana, sans-serif;          
        filter: brightness(110%);              
    }          
    p {
        color: $color-palette;       
    }
  }