/*HEADER*/
.banner {        
    height: 170px;    
    display: flex;
    justify-content: center;
    align-items: center;  
    
    h1 , .banner-title {
        margin: 0;       
    
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            img {           
                width: 300px;
                margin: auto;
                @include respond-to(small) {
                    width: 400px;
                }
            }
        }
    }
}
